@font-face {
  font-family: "Urbanist";
  src: url(/font/Urbanist-Regular.ttf);
}
.header {
  width: 100%;
  height: 121px;
}

.info {
  display: flex;
  margin: 36px 110px 0 110px;
}

.info img {
  width: 247px;
  height: 48px;
}

.info p {
  font-family: "Urbanist";
  font-weight: 400;
  font-size: 18px;

  color: #181a3f;
  margin: 12px 32px 2px 0;
}

.info_burger {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  width: 30px;
  height: 40px;
  position: relative;
  z-index: 2;
}
.menu-btn span {
  width: 54px;
  height: 3px;
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #181a3f;
  transition: all 0.5s;
  border-radius: 0px;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.info_main {
  width: 100%;
  height: 896px;
  display: flex;
}

.info_main h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 74px;
  color: #181a3f;
  width: 630px;
  height: 222px;
  margin: 0;
}

.info_main p {
  width: 461px;
  height: 61px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555671;
  margin: 0;
}

.info_name {
  width: 731px;
  height: 433px;
  padding: 235px 8px 0 110px;
}

.contact_btn {
  background: #ff7549;
  color: #ffffff;
  border: 0;
  width: 255px;
  height: 56px;
}

.our_btn {
  background: #ffffff;
  color: #181a3f;
  border: 1;
  width: 255px;
  height: 56px;
  margin: 57px 0 0 28px;
}

.made {
    position: relative;
  display: flex;
  justify-content: flex-end;
  background: url(Made_in.png); 
  width: auto;
  margin-left: 550px;
  
}
.made_btn {
  display: flex;
  justify-content: flex-end;
  width: 135px;
  height: 28px;
  margin: 639px 12px 229px 438px;
  background-image: url(logo_btn.png);
  border: 0;
}
